version: 2
updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: weekly
- package-ecosystem: gomod
  directory: /
  groups:
    aws-sdk-go:
      patterns:
      - github.com/aws/aws-sdk-go-v2
      - github.com/aws/aws-sdk-go-v2/*
  schedule:
    interval: monthly
