[Unit]
Description=A utility to upload Unifi Controller backups to S3
Documentation=https://github.com/gebn/unifibackup/blob/master/README.md
After=network.target

[Service]
User=unifi
Restart=on-failure

# --prefix to override the bucket prefix from "unifi/"
# --metrics :<port> to override Prometheus metrics port
# --timeout <duration, e.g. 10s> to set max duration per S3 operation
ExecStart=/opt/unifibackup/unifibackup --bucket <changeme>

# region of the S3 bucket passed in above, e.g. eu-west-2
Environment=AWS_REGION=<changeme>

# ideally, these should not have to be provided, as the AWS SDK will retrieve
# credentials from elsewhere (e.g. via the instance profile if running in EC2)
#Environment=AWS_ACCESS_KEY_ID=
#Environment=AWS_SECRET_ACCESS_KEY=

[Install]
WantedBy=multi-user.target
